.Profile{
    width: 85%;
    position: fixed;
    right: 0;
    top:0;
    height: 100%;
    background-color: #f5f5f5;
    z-index: 203;
}
.Profile__Top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    background-color: #e9e3e3;
}
.profile__Icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile__Icon ion-icon{
    font-size: 64px;
}
.Profile__Details p{
    text-align: center;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 2px 2px 2px #ccc;
    margin: 2.5rem auto;
}

.userLogOut__Button{
    display: flex;
    justify-content: center;
    align-content: center;
}
.userLogOut__Button button{
    background-color: #f5f5f5;
    border: 1px solid red;
    color: red;
    outline: none;
    padding: 5px;
    border-radius: 8px;
}
.hide__Profile{
    opacity: 0;
    transform: translatex(-100%);
    transition: opacity 200ms, transform 500ms;
 }

.show__Profile{
    opacity: 1;
    transform: translatex(0);
    transition: opacity 200ms, transform 500ms;
}