.protect{
    background: #000035;
    margin-top:0;
    padding-top: 40px;
    margin-bottom: 20px;
    padding-bottom: 40px;
}
.Title{
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    color: white;
    margin-top: 0;
    margin-bottom: 20px;
}
.btnCont button{
    background-color: #f5f5f5;
    color:#000035;
    outline: none;
    border: none;
    height: 40px;
    width: 80px;
    font-size: 15px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #000035;
}

.btnCont button:hover{
    color: #f5f5f5;
    background-color:#000035;
    cursor: pointer;
    border: 1px solid #f5f5f5;
}

.see__All__Product{
    color: #FBFBFB;
    text-align: right;
    margin-right: 15px;
}
.react-multiple-carousel__arrow {
    z-index: 25;
}
