.DeleteUserWrapper{
    margin: auto;
    width: 100vw;
    height: 100%;
    right: 0;
    top:0;
    left: 0;
    bottom: 0;
    z-index: 205;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.DeleteUser{
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
}
.ShowDeleteUser{
    margin: auto;
    width: 100%;
    height: 80%;
    z-index: 204;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    opacity: 1;
    transform: translateY(0) !important;
    transition: opacity 200ms, transform 500ms;
}
.hideDeleteUser{
    opacity: 0;
    transform: translateY(200%);
    transition: opacity 200s, transform 500ms;
}
.delete_Commands{
    display: flex;
    justify-content: space-around;
}
.cancel_delete_command{
    color :#000035;
    font-weight: bold;
}
.continue_delete_command{
    color:red;
    font-weight: bold;
}
.continue_delete_command:hover{
    cursor: pointer;
}
.cancel_delete_command:hover{
    cursor: pointer;
}
.Field_Column{
    display: flex;
}
.UserFields{
    width: 25%;
    font-weight: bold;
}