.Navbar{
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    overflow: hidden !important;
}
.Logo{
    border-radius: 50px;
    color:white;
    font-weight: bold;
}
.profilePicture{
    background-color: transparent;
    margin-right: 30px;
}
.profilePicture img{
    width: 100%;
    height: 100%;
}
.profilePicture ion-icon{
   color: white;
}
.profilePicture ion-icon:hover{
    cursor: pointer;
}

#ScrollDown{
    background: #000035;
}

@media (min-width:800px){
    .Logo{
        display: block;
    }
}