.Operations button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#000035;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 1px 5px;
}
.Operations button>ion-icon{
    margin: 0;
}
.Operations button:hover{
    background-color: rgb(245, 239, 239);
    color: #000035;
    border: 1px solid #000035;
    cursor: pointer;
}
.actions{
    display: flex;
    justify-content: space-between;
    background-color: rgb(223, 219, 219);
    text-align: center;
    padding: 0 5px;
    margin: 5px 0;
    height: 45px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.User_Id{
    width:20%
}
.User_Name{
    width: 25%;
}
.User_Email{
    width: 35%;
}
.User_Role{
    width: 5%;
}
.sub_Operations{
    width: 15%;
}